<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blogQA">
	<select id="getList" parameterType="qaDto" resultType="qaDto">
		SELECT qaNum, qaWriter, qaTitle, qaContents, qaRegdate, qaViewCount
		FROM pharm_blog_qa
	</select>
	<insert id="insertContents" parameterType="qaDto">
		INSERT INTO pharm_blog_qa
		(qaNum, qaWriter, qaTitle, qaContents, qaRegdate, qaViewCount)
		VALUES(pharm_blog_qa_seq.NEXTVAL, #{qaWriter}, #{qaTitle}, #{qaContents}, SYSDATE, #{qaViewCount})		
	</insert>
	<select id="getData" parameterType="int" resultType="qaDto">
		SELECT qaNum, qaWriter, qaTitle, qaContents, qaRegdate, qaViewCount
		FROM pharm_blog_qa
		WHERE qaNum=#{qaNum}
	</select>
	<update id="updateContents" parameterType="qaDto">
		UPDATE pharm_blog_qa
		SET qaContents=#{qaContents}
		WHERE qaNum=#{qaNum}
	</update>
	<delete id="deleteContents" parameterType="int">
		DELETE FROM pharm_blog_qa
		WHERE qaNum=#{qanum}
	</delete>

</mapper>
