<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="insertUser" parameterType="usersDto">
		INSERT INTO pharm_user
		(user_num, id, pwd, addr, email, regdate)
		VALUES(pharm_user_seq.NEXTVAL, #{id}, #{pwd}, #{addr}, #{email}, SYSDATE)
	</insert>


</mapper>
