<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="insertUser" parameterType="usersDto">
		INSERT INTO pharm_user
		(userNum, userId, userPwd, userAddr, userEmail, userRegdate)
		VALUES(pharm_user_seq.NEXTVAL, #{userId}, #{userPwd}, #{userAddr}, #{userEmail}, SYSDATE)
	</insert>
	<select id="getData" parameterType="string" resultType="usersDto">
		SELECT userNum, userId, userPwd, userAddr, userEmail, userRegdate
		FROM pharm_user
		WHERE userId=#{userId}
	</select>    
 
</mapper>
